$transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
$fontcolor: burlywood;

ul {
  list-style-type: none;
  margin-bottom: 0px;
  padding: 0px;
}
/* cart */
#cart {
  color: $fontcolor;
  padding: 0px 10px;
  position: relative;
}
.filter-section {
  margin-top: 30px;
}
.custom-badge {
  position: absolute;
  top: 0px;
  left: 25px;
  border-radius: 1.25rem;
  background-color: #efefef;
  color: #363636;
  transition: transform 0.2s; /* Animation */
}

/* Card */
$card-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$card-shadow-hover: var(--primaryShadowBg);

.card {
  transition: $transition;
  box-shadow: $card-shadow;
  background: var(--primaryCardBg);
  margin: 20px 10px;
  cursor: pointer;

  &:hover {
    box-shadow: $card-shadow-hover;
  }
}

.custom-col-wrapper {
  display: flex;

  flex-shrink: 0 !important;
}
/* sale */

.card-sale-circle {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  padding-top: 10px;
  background-color: coral;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 13px;
  z-index: 1000;
  box-shadow: 5px 5px 10px 1px rgba(00, 00, 00, 0.2);
}
.card-sale {
  text-transform: uppercase;
  font-size: 10px;
}
.card-text-bold {
  font-weight: bold;
  color: var(--primaryProductText);
}
.card-text-color {
  color: coral;
}
/* card image*/

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-wrapper-div {
  width: auto;
  text-align: center;
  padding: 10px;
}

/* overriding default card image property */
.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-body {
  padding: 0.75rem !important;
  border: 1px solid #ededed;
  background-color: #efefef;
}
/* filter dropdown */
.filter-dropdown {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
}
/* model */
.custom-product-details {
  display: flex;
  align-items: center;
  justify-content: left;
}

.modal-body {
  padding: 1rem 0 !important;
}
