<div class="grid-container mt-130">
    <div class="d-flex flex-row-reverse">
        <div class="py-0">

            <div class='row filter-section'>
                <div class='col-md-4'>Filter by:</div>
                <div class='col-md-8'>
                    <input type='text' [(ngModel)]='listFilter' />
                </div>
            </div>
        </div>
    </div>
    <div class="app-card-list">
        <div class="row">
            <div class="custom-col-wrapper col-md-3 col-sm-6 py-0 px-0" *ngFor="let product of filteredProducts">
                <div class="card">

                    <div class="card-sale-circle" *ngIf='product.isSale'>
                        <span class="card-sale">Sale</span>
                    </div>
                    <div class="img-wrapper-div"><img class="card-img-top img-responsive" [src]="product.productImage"
                            [title]='product.productName' /></div>
                    <div class="card-body font-size-12">
                        <p class="card-text text-center">
                            <span class="d-block card-text-bold">{{product.productName}}</span>
                            <span class="d-block card-text-bold card-text-color">{{product.price}}</span>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>