<div id="welcome-section">
    <h3>Red Horns supports the Responsible Service of Alcohol</h3>
    <div class="content-section">
        Red Horns supports the Responsible Service of Alcohol. Read more specific legislation in your state or
        territory and to view our Liquor Licence numbers. New South Wales:Liquor Act 2007 - It is against the law to
        sell or supply alcohol to, or to obtain alcohol on behalf of, a person under the age of 18 years. ACT: Under the
        Liquor Act 2010. A person must not sell or supply liquor to a person under 18 years old on premises where the
        sale or supply of liquor is authorised or in a public place. Maximum Penalty $5500. Victoria: Warning - Under
        the Liquor Control Reform Act 1998 it is an offence to supply alcohol to a person under the age of 18 years
        (penalty exceeds $17,000), for a person under the age of 18 years to purchase or receive liquor (penalty exceeds
        $700). Western Australia: WARNING. Under the Liquor Control Act 1988, it is an offence: to sell or supply liquor
        to a person under the age of 18 years on licensed or regulated premises; or for a person under the age of 18
        years to purchase, or attempt to purchase, liquor on licensed or regulated premises.South Australia: Under
        Liquor Licensing Act 1997, Liquor must NOT be supplied to persons under 18. Queensland: Under the Liquor Act
        1992, it is an offence to supply liquor to a person under the age of 18 years. Tasmania Under the Liquor
        Licensing Act 1990 it is an offence: for liquor to be delivered to a person under the age of 18 years. Penality:
        Fine not exceeding 20 penalty units. For a person under the age of 18 years to purchase liquor. Penality, Fine
        not exceeding 10 penality units. For more specific legislation in your state or territory visit our Liquor
        Licensing Acts page. ABN 77 159 767 843. If you wish to voluntarily exclude yourself from our services you can
        find out more at our Self Exclusion page.

    </div>
</div>