@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

#welcome-section {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.content-section {
  text-align: center;
}
.transition {
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}
.login .card-login {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  /*height: 300px;*/
  height: 300px;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
}
.card-login:hover {
  height: 440px;
  width: 500px;
}
.card-login:hover .cta-container {
  display: inline;
  /* "scss.lint.propertyIgnoredDueToDisplay": "ignore" */
  margin-top: 150px;
}
.card-login:hover .card_circle {
  background-size: cover;
  border-radius: 0;
  margin-top: -260px; /*previous value : -130px;*/
}
.card-login:hover h2 {
  background: #3487f7;
  color: #fff;
  margin-top: 50px;
  padding: 5px;
}
.card-login:hover h2 small {
  color: #fff;
}
.card-login:hover p {
  margin-top: 300px;
}
.card_circle {
  background-color: #3487f7;
  background-size: cover;
  border-radius: 50%;
  height: 400px;
  margin-left: -75px;
  margin-top: -270px;
  position: absolute;
  width: 650px;
}
h2 {
  color: #3487f7;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin-top: 150px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
}

.cta-container {
  display: none;
  padding: 20px;
  margin-top: 320px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
}
.cta {
  -moz-border-radius: 2px;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -webkit-border-radius: 2px;
  -webkit-transition: 0.2s ease-out;
  background-clip: padding-box;
  border: 2px solid #3487f7;
  border-radius: 2px;
  color: #3487f7;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 400;
  height: 36px;
  letter-spacing: 0.5px;
  line-height: 36px;
  margin-bottom: 15px;
  padding: 0 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease-out;
}
.cta:hover {
  background-color: #3487f7;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
