@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primaryBg);
  color: var(--primaryProductText);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/* navigation */
.custom-navbar {
  box-shadow: 10px 10px 10px #eee;
  z-index: 1;
  background-color: #fff;
}
.nav-link {
  color: #ffe5c4 !important;
}
.custom-toggler.navbar-toggler {
  border-color: #ffe5c4;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,32,78, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler .navbar-toggler-icon {
  width: 18px !important;
}
.custom-toggler:hover {
  border-color: rgb(255, 255, 255);
  background-color: rgb(133, 80, 10);
}
.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#logo_custom {
  margin-top: -6px;
}
@media only screen and (max-width: 760px) {
  #logo_custom {
    width: 40%;
  }
}

/* 3D menu rolling effect  */
.cl-effect-2 a {
  line-height: 40px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  margin: 0px 5px;
  color: var(--primaryText); // rgb(44, 43, 43);
  font-weight: bold;
}

.cl-effect-2 a span {
  position: relative;
  display: inline-block;
  padding: 0 14px;
  background: var(--menuSpanBg);
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-radius: 1px;
}

.cl-effect-2 a span::before {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px 12px;
  background: var(--menuSpanBeforeBg);
  border-radius: 1px;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
  border-radius: 1px;
}

.cl-effect-2 a:hover span::before,
.cl-effect-2 a:focus span::before {
  background: #fffce8;
  border-radius: 1px;
}
.bg-red {
  background-color: #7b0c0c;
}
/* font */
.font-size-12 {
  font-size: 12px; // calc(.2vw + 1vh + .2vmin);
}

/* spacing */
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.mt-130 {
  margin-top: 130px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-30 {
  margin-top: 30px;
}
.custom-box {
  padding: 5px;
  border: 1px solid #dedede;
}
/* logo */
.logo {
  font-size: 32px;
  color: #ffe5c4 !important;
  font-family: "Langar";
}
.logo:hover {
  text-decoration: none;
  cursor: pointer;
}
/* header */
.header {
  background-color: var(--primaryTheme);
  padding: 5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-box-shadow: var(--headerShadow);
  -moz-box-shadow: var(--headerShadow);
  box-shadow: var(--headerShadow);
}

.header p {
  color: rgb(49, 49, 49);
}

.header img {
  height: 30px;
}

.custom-pxy {
  padding: 1px 7px !important;
}
.quantity {
  padding: 2px;
}
