<div style="text-align:center">
  <nav class='navbar navbar-expand navbar-light bg-red'>
    <a class="logo text">{{logo}}</a>
    <div class="collapse navbar-collapse " id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto ">

        <li class="nav-item cl-effect-2"><a class="nav-link" [routerLink]=" ['/welcome']">Home</a></li>
        <li class="nav-item cl-effect-2"><a class="nav-link" [routerLink]=" ['/products']">Product List</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>